<div class="show-tweet">
<% flash.each do |key, message| %>
    <div class="flash <%= key %>"><%= message %></div>
  <% end %>

<p class="post-body"><%= @post.body %></p>

<%= link_to "編集", edit_post_path(@post), class: "show-button" %>

<%= button_to "削除", post_path(@post), method: :delete, data: { turbo_confirm: "本当によろしいですか？" }, class: "show-button" %>

</div>